<?xml version="1.0"?>
<robot name="ammr_main" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="frame_ground_offset" value="0.115"/>


<!-- DEPTH CAMERA-->
    <link name="Depth_Camera_Link">
        <inertial>
            <origin xyz="-0.0125484865299799 -0.00229321233993897 -6.05690984643026E-05" rpy="0 0 0" />
            <mass value="0.0447520695801998" />
            <inertia
                ixx="2.72774851860532E-05"
                ixy="2.44350049250928E-07"
                ixz="-1.17482358884841E-09"
                iyy="3.94471458107954E-06"
                iyz="-2.80461518570198E-09"
                izz="2.73620489141261E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find my_robot_hw)/meshes/Camera_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <!-- <mesh filename="file://$(find my_robot_hw)/meshes/Camera_Link.STL" /> -->
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
    <joint name="Depth_Camera_Joint" type="fixed">
        <origin xyz="-0.058 -0.0025 0.19025" rpy="${pi/2} ${pi} -${pi/2}" />
        <parent link="Manipulator_J6_Link" />
        <child link="Depth_Camera_Link" />
        <axis xyz="0 0 0" />
    </joint>

    <link name="camera_link">
    </link>
    
    <joint name="camera_optical_joint" type="fixed">
        <parent link="Depth_Camera_Link" />
        <child link="camera_link" />
        <origin xyz="0 0 0" rpy="${pi/2} -${pi/2} 0" />
    </joint>
</robot>
