<?xml version="1.0"?>
<robot name="ammr_main" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="frame_ground_offset" value="0.115"/>

<!-- LIDAR-->
    <link name="Lidar_Link">
        <inertial>
            <origin xyz="0.00866531225418354 -0.000832782709533304 -0.0277148362578511" rpy="0 0 0" />
            <mass value="0.137861540247508" />
            <inertia
                ixx="6.41461138161485E-05"
                ixy="-1.31334103444636E-07"
                ixz="5.18497576356324E-07"
                iyy="0.000111154724523487"
                iyz="-9.1576432792652E-08"
                izz="0.000160248590625769" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find my_robot_hw)/meshes/Lidar_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find my_robot_hw)/meshes/Lidar_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Lidar_Joint" type="fixed">
        <origin xyz="0.383790057428704 8.26282722502653E-05 0.297164672203901" rpy="0 0 ${pi}" />
        <parent link="base_link" />
        <child link="Lidar_Link" />
        <axis xyz="0 0 0" />
    </joint>

</robot>