<?xml version="1.0"?>
<robot name="ammr_main" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="frame_ground_offset" value="0.115"/>


<!-- DEPTH CAMERA-->
    <link name="Depth_Camera_Link">
        <inertial>
            <origin xyz="-0.0246055548591465 -0.00216112757630004 0.00130733744912853" rpy="0 0 0" />
            <mass value="0.130220768275134" />
            <inertia
                ixx="0.000338389282224253"
                ixy="5.02320565349973E-07"
                ixz="3.5074407953116E-10"
                iyy="2.15010143394374E-05"
                iyz="5.61027883659055E-09"
                izz="0.000328398024437841" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find ammr)/meshes/Depth_Camera_Link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find ammr)/meshes/Depth_Camera_Link.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="Depth_Camera_Joint" type="fixed">
    <origin
        xyz="0 -0.05834 0.1825"
        rpy="0 0 -${pi/2}"/>
    <parent
        link="Manipulator_J6_Link_1" />
    <child
        link="Depth_Camera_Link" />
    <axis
        xyz="0 0 0" />
    </joint>



    <link name="camera_link">
    </link>

    <joint name="camera_link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="Depth_Camera_Link"/>
        <child link="camera_link"/>
    </joint>

</robot>
