<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ammr_main_ros2_control" params="name initial_positions_file ros2_control_hardware_type">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${ros2_control_hardware_type == 'isaac'}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <!-- <param name="joint_commands_topic">/isaac_joint_commands</param>
                    <param name="joint_states_topic">/isaac_joint_states</param> -->
                </xacro:if>
            </hardware>
            <joint name="Manipulator_J1_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J1_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Manipulator_J2_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J2_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Manipulator_J3_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J3_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Manipulator_J4_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J4_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Manipulator_J5_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J5_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Manipulator_J6_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Manipulator_J6_Joint']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="EE_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['EE_R']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="EE_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['EE_L']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Right_Drive_wheel_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="Left_Drive_wheel_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
