<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ammr_main">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <!-- Import ammr_main urdf file -->
    <xacro:include filename="$(find ammr)/urdf/ammr_main.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ammr_main.ros2_control.xacro" />

    <xacro:ammr_main_ros2_control name="AMMR_FakeSystem" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

</robot>
